*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f2f2f2;
    color: #333;
}
nav{
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
nav a{
    text-decoration: none;
    color: #444;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}
nav button{
    padding: 10px 20px;
    background: #d49ad4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    align-self: center;
}
nav button:hover{
    background: #c17ac1;
}
.hero{
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 50px 8%;
}
.content h2{
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    line-height: 1.1;
}
.content p{
    font-size: 1rem;
    margin-bottom: 25px;
    color: #666;
}
.content button{
    padding: 15px 28px;
    background: #d49ad4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}
.content button:hover{
    background: #c17ac1;
}
.hero-image img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.12);
}
.signature{
    padding: 20px 0;
}
.signature h2{
    text-align:center;
    font-size:3rem;
    margin-bottom:50px;
    font-family:'Playfair Display', serif;
}
.signature h3{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    text-align: center;
    color: #8e0707;
}
.cake-list{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-top:30px;
}

.cake-item{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.cake-item img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.cake-item h3,
.cake-item p{
    padding:15px;
}
.cake-item{
    transition:all .4s ease;
}

.cake-item:hover{
    transform:translateY(-12px) scale(1.03);
    box-shadow:0 20px 40px rgba(0,0,0,.15);
}
.offer{
    padding:80px 8%;
}

.offer-content{
    background:linear-gradient(
        135deg,
        #f8d7da,
        #fce4ec
    );

    border-radius:30px;

    padding:50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.offer-content h2{
    font-size:3rem;
    margin-bottom:15px;
    font-family:'Playfair Display', serif;
}

.offer-content p{
    margin-bottom:20px;
    font-size:1.1rem;
}

.offer-content button{
    background:#d8a6a6;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:50px;
    cursor:pointer;
}

.offer-content img{
    width:350px;
    border-radius:25px;
}
.testimonials{
    padding:100px 8%;
}

.testimonials h2{
    text-align:center;
    margin-bottom:50px;
    font-size:3rem;
    font-family:'Playfair Display', serif;
}

.review-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.review-card{
    background:white;
    padding:30px;
    border-radius:25px;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.review-card p{
    line-height:1.8;
    margin-bottom:15px;
}
.newsletter{
    padding:100px 8%;
    text-align:center;
}

.newsletter h2{
    font-size:3rem;
    margin-bottom:15px;
    font-family:'Playfair Display', serif;
}

.newsletter p{
    margin-bottom:30px;
}

.newsletter-box{
    display:flex;
    justify-content:center;
    gap:15px;
}

.newsletter-box input{
    width:350px;
    padding:15px;
    border:none;
    border-radius:50px;
    outline:none;
}

.newsletter-box button{
    background:#d8a6a6;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:50px;
    cursor:pointer;
}
footer{
    background:#fff;
    text-align:center;
    padding:60px 20px;
}

footer h2{
    font-family:'Playfair Display', serif;
    margin-bottom:10px;
}

.socials{
    margin-top:20px;
}

.socials a{
    text-decoration:none;
    color:#444;
    margin:0 15px;
}
.dark{
    background:#1f1f1f;
    color:white;
}